*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom right, #4568dc, #b06ab3);
}
h2{
    text-align: center;
    margin-top: 20px;
    color: #fff;
}

.login{
    display: flex;
    width: fit-content;
    margin: 52px auto;
    padding-top: 52px;
    flex-direction: column;
    background-color: white;
    opacity: 0.9;
    padding: 50px;
    border-radius: 20px;
}

.login .items{
    margin-bottom: 10px;
    border-radius: 5px;
    height: 30px;
}

.login .button{
    flex-direction: row;
    padding-top: 30px;
    margin-bottom: 20px;
    justify-content: space-between;
}
#botão{
    color: #fff;
    width: 100px;
    padding: 20px;
    border-radius: 20px;
    font-size: medium;
    border: none;
    background-image: linear-gradient(to bottom right, #4568dc, #b06ab3);


}

.login .link{
    text-decoration: none;
    margin-bottom: 10px;
    
}
ul{
    list-style: none;
}
.login ul{
    display: flex;
    gap: 24px;
    flex-direction: row;
}

.login .logo{
    width: 50px;
    border-radius: 50%;

}
